@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato:wght@400;700;900&family=Montserrat&family=Open+Sans:wght@400;700;800&family=Satisfy&family=Titillium+Web:wght@300;400;600;700&family=Work+Sans:wght@400;600;700;800&display=swap');

* {

    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* common sheard file */
.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    background-color: #FF42A5;
    padding: 20px 35px;
    border: none;
    border-radius: 48px;
    margin: 0 7px;
    cursor: pointer;
}

/* navbar section start */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 40px 200px;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    width: 86px;
    height: 40px;
}

.nav-logo .nav-title {
    font-size: 45px;
    font-weight: 700;
    margin-left: 20px;
}

.nav-title span {
    color: #FF42A5;
}

.nav-list-item {
    display: flex;
    align-items: center;
}

.nav-list-item li {
    list-style: none;
    margin-left: 20px;
}

.nav-list-item li a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    padding: 7px;
}

.nav-list-item li a:hover {
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 8px;

}

.fa-youtube {
    color: red;
    margin-left: 10px;
}

.fa-tiktok {
    margin-left: 10px;
}

/* banner section start */
.banner {
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 500px;
    background-image: url(../images/Group\ 14.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-large-title {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-text p a {
    color: #534C64;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}

.banner-text p {
    margin: 17px 0;
}

.banner-image img {
    height: 75%;
    width: 75%;
    margin-bottom: 0;
}

/* videos section start */
.videos-text {
    width: 655px;
    margin: 0 auto;
    text-align: center;
}

.video-title {
    font-size: 48px;
    font-weight: 700;
}

.video-title span {
    color: #F948B2;
}

.video-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 30px;
}

.videos-content {
    display: flex;
    margin: 0 135px;
}

.videos-content div {
    width: 311px;
}

.videos-content a img {
    height: 311px;
    width: 300px;
    margin: 10px;
}

.videos-content p {
    padding: 0 20px;
}

.play {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.play-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-text2 {
    height: 500px;
    width: 353px;
}

.play-title {
    width: 341px;
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.play-title span {
    color: #F948B2;
}

.play-description {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
}

.play-img .img1 {
    height: 500px;
}

.play-img .img2 {
    height: 300px;
    position: relative;
    bottom: 230px;
    right: 130px
}

.game-1, .game-2 {
    display: flex;
    justify-content: space-around;
    padding: 0 150px;
}

.game-1 div {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 60px;
    border: 2px solid #fff;

}
.game-1 div:hover{
    border: 2px solid #F948B2;
    color: #F948B2;
    cursor: pointer;
}
.game-1 img{
    width: 50px;
}
.game-2 div {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 60px;
    border: 2px solid #fff;

}
.game-2 div:hover{
    border: 2px solid #F948B2;
    color: #F948B2;
    cursor: pointer;
}
.game-2 img{
    width: 50px;
}


.footer{
    background-color: #0B0223;
    padding: 120px 300px;
    text-align: center;
    color: #fff;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 66px;
}
.footer-title{
    font-size: 45px;
    font-weight: 700;
    margin-left: 20px;

}
.footer-title span {
    color: #FF42A5;
}
.pages{
    margin-bottom: 60px;
}
.pages a{
    text-decoration: none;
    color: #fff;
    margin: 0 30px;
}
.icons{
    margin-bottom: 60px;
}
.icons i{
    font-size: 40px;
    margin: 0 20px;
}
.ruls{
    margin-bottom: 40px;
}
.ruls p{
    color:rgba(255, 255, 255, 0.60);
    display: inline-block;
    margin: 0 20px;
}
.footer-finish{
    color:rgba(255, 255, 255, 0.60);
}
